@import "../global";
@import "../components/header";
@import "../components/preloader";

.header__nav-item:nth-child(2) a{
    color: $background__color;
    background-color: $text__color;
}

.header__intro-background {
    
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}
.album__image {
    position: relative;
    margin: 20vh auto;
    height: 50vw;
    filter: brightness(0.85);
  
    object-fit: cover;
    opacity: 1;
}

.header__intro-title {
    color: rgb(238, 238, 238);
    backdrop-filter:brightness(0.4);
    font-size: calc(10px + 30 * ( 100vw / 1180 ));
    position: absolute;
    top:75%;
    left:2%;
    white-space:nowrap;

}

.header__intro-background {
    filter: hue-rotate(160deg);
}


.flexbox {
    margin: 0rem auto;
    padding-bottom: 0rem;
    display: flex;
    flex-direction: column;
   
    max-width: 1200px;
    position: relative;
   
}

 .flexitem{
    height: 70vh;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.linkarea {
    z-index: 2;
    width: 100%;
    height: 100%;
}
.flexitem>.content {
    color: rgb(255, 255, 255);
    position: absolute;
    pointer-events: none;
    
}
 img.bg {
    position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
        transition: all 1s;
        filter: blur(1px);    
}



    .flexitem__title {
        opacity: 0;
        color: $text__color;
        backdrop-filter:brightness(0.4);
        font-size: calc(15px + 20 * ( 100vw / 1180 ));
        font-weight: bold;
       position: absolute;
       right: 10%;
       text-align: center;
        transition: opacity 0.5s ease-out;
    }

    .flexitem__title.hover {
        
        opacity: 1;
    }

.flexitem:hover img.bg, .flexitem:focus-within img.bg {
    
    opacity: 1;
    filter: blur(0px);
}

  
.flexitem {
    background-color: rgb(27, 113, 194);
}


.flexitem__title.hover {
        transform: translate(0, 0);
        opacity: 1;
        
    }

    img.album__image {
        position: relative;
        margin: 10vh auto 0;
        height: 25vh;
        
      
        object-fit: cover;
        opacity: 1;
      }

@media (min-width:500px) {

    img.album__image {
        position: relative;
        margin: 15vh 3rem 0;
        height: 50vw;
        
      
        object-fit: cover;
        opacity: 1;
      }

      .header__intro-text__area {
        z-index: 10;
        display: flex;
        margin-left: 0;
        flex-direction: column;
        max-width: 45vw;
    }

    .flexitem{
        height: 100vh;
    }
    .flexitem__title {
        opacity: 0;
        color: $text__color;
        backdrop-filter:brightness(0.4);
        font-size: calc(15px + 20 * ( 100vw / 1180 ));
        font-weight: bold;
        position: absolute;
        top:90vh;
        right: 1%;
        transition: all 0.5s ease-out;
    }

    .flexbox {
        display: flex;
        flex-direction: row;
        transition: all 0.8s ease;
    }


    .flexitem {
        display: flex;
        flex-direction: column;
      transition: all 0.8s ease;
     
       
    }

    .flexitem__title.hover {
        transform: translate(0, 0);
        opacity: 1;
    }
    
    .flexitem1, .flexitem3{
        flex-basis: 35%;
    }
    .flexitem2 {
        flex-basis: 30%;
    }
    
    .flexitem:hover, .flexitem:focus-within {
        flex-basis: 80%;
        
    }
    
}

@media (min-width:1000px) {

    .header__intro-text__area {
        margin-left: 50%;
    }

    img.album__image {
        position: absolute;
        margin: 0px;
           height: 85%;
           left:10%;
           top:5%;
           
        }
}


@media (min-width:1500px) {
    .flexbox {
        max-width: 1500px;
    }
}
