@import "../global";
@import "../components/header";
@import "../components/preloader";


.header__nav-item:nth-child(4) a{
    color: $background__color;
    background-color: $text__color;
}


.songwraper {
    height: 200vh;
}
.song {
   
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}
.song__half {
    display: flex;
    align-items: center;
    justify-content: center;
}

.song__first {
    height: 70vh;
    width: 100%;
    background-color: blue;
}

.song__last {
    width: 100%;
    height: 30vh;
    background-color: palevioletred;
   
}

.song__text {
   
    font-size: 50px;
    color: white;
    white-space: nowrap;
}

.audioitem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.linkarea {
    z-index: 2;
    width: 100%;
    height: 100%;
}
.content {
    text-align: center;
    font-size: 26px;
    opacity: 0;
    position: absolute;
    width: 50%;
    transition: opacity 0.5s ease-out;
    
letter-spacing: 0.7;
    text-shadow: 1px 1px  3px black;
}

img.bg {
    
    position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        transition: all 1s;
        filter: blur(1px);    
}

.audioitem:hover img.bg {
    filter: blur(0px); 
    opacity: 1;
}

.album__image {
    position: relative;
    margin: 20vh auto;
    height: 50vw;
    filter: brightness(0.85);
  
    object-fit: cover;
    opacity: 1;
}
.header__intro-text__area {
    z-index: 10;
    display: flex;
    margin-left: 0;
    flex-direction: column;
    max-width: 45vw;
}

.rowwraper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row__item {
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row__item-part {
    width: 50%;

}
.row__item1>.right__part {
    background-color: red;
}
.row__item1>.left__part {
    background-color: blueviolet;
}
.row__item2>.right__part {
    background-color: rgb(4, 255, 58);
}
.row__item2>.left__part {
    background-color: rgb(226, 223, 43);
}
.row__item3>.right__part {
    background-color: rgb(255, 0, 255);
}
.row__item3>.left__part {
    background-color: rgb(43, 226, 217);
}
.row__item4>.right__part {
    background-color: rgb(47, 32, 255);
}
.row__item4>.left__part {
    background-color: rgb(243, 14, 121);
}
.row__item1 {
    z-index: 1;
}
.row__item2 >.left__part {
    z-index: 2;
}

.row__item3 >.left__part {
    z-index: 3;
}
.row__item4 >.right__part {
    z-index: 4;
}

@media (min-width:1000px) {

 
    .header__intro-text__area {
        margin-left: 50%;
    }
    
    img.album__image {
    position: absolute;
    margin: 0ex;
       height: 50vh;
       right: 60%;
       top:10%;
  
    }
}