@import "../global";
@import "../components/header";
@import "../components/preloader";

.main {
    max-width: 1200px;
    margin: 0 auto;
}
.header__nav-item:nth-child(4) a{
    color: $background__color;
    background-color: $text__color;
}

.header__image {
    position: absolute;
    width: 100%;
    height: 180vh;
    top:-80vh;
    object-fit: cover;
    filter: brightness(0.5);
    object-position: top;
    
   }

   img.album__image {
    position: relative;
    margin: 10vh auto 0;
    height: 25vh;
    
  
    object-fit: cover;
    opacity: 1;
  }


.songwraper {
    height: 150vh;
}
.song {
   
    background-color: $background__color;
    display: flex;
    flex-direction: column;
}
.song__half {
    display: flex;
    align-items: center;
    
}

.song__first {
    height: 70vh;
    width: 100%;
    background-color: $background__color;
}

.song__last {
    width: 100%;
    height: 30vh;
   
    overflow: hidden;
   
}
.song__last1 {
background-color:rgb(82, 12, 18);
}
.song__last2 {
    background-color:rgb(8, 32, 63);
    }
.song__text {
   
    color: rgb(238, 238, 238);
    backdrop-filter:brightness(0.4);
    font-size: calc(40px + 25 * ( 100vw / 1180 ));
    white-space: nowrap;
    font-weight: bold;
    text-decoration: underline;
}

.audioitem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.linkarea {
    z-index: 2;
    width: 100%;
    height: 100%;
}
.content {
    text-align: center;
    font-size: calc(12px + 10 * ( 100vw / 1180 ));
    color: white;
    position: absolute;
    bottom: 20%;
    width: 50%;
    transition: opacity 0.5s ease-out;
    
letter-spacing: 0.7;
    text-shadow: 1px 1px  3px black;
}

img.bg {
    
    position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        transition: all 1s;
        filter: grayscale(1);    
}

.audioitem:hover img.bg {
    filter: grayscale(0)
    
}


.header__intro-text__area {
    z-index: 10;
    display: flex;
    margin-left: 0;
    flex-direction: column;
    
}

.rowwraper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row__item {
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row__item-part {
    width: 50%;
    height: 100%;

}

.row__item1>.left__part {
    background-color:rgb(8, 32, 63);
}

.row__item2>.left__part {
    
    background: url("./img/1.webp");
}
.row__item3>.right__part {
    background-color:rgb(8, 32, 63);
}

.row__item4>.right__part {
   
    background: url("./img/1m.webp");
}

.row__item1 {
    z-index: 1;
}
.row__item2 >.left__part {
    z-index: 2;
}

.row__item3 >.left__part {
    z-index: 3;
}
.row__item4 >.right__part {
    z-index: 4;
}


.text__row {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-size: calc(8px + 9 * ( 100vw / 1180 ));
    line-height: 1.5;
letter-spacing: 0.5;
 color: $text__color;
    
}


.text__row > p {
    padding: 0.3rem;
    backdrop-filter:brightness(0.4);
   
}
.text__row > p+p {
    margin-top: 1.5rem;
}


@media (min-width:500px) {
    img.album__image {
        position: relative;
        margin: 15vh 3rem 0;
        height: 50vw;
        
      
        object-fit: cover;
        opacity: 1;
      }
      .header__intro-text__area {
        z-index: 10;
        display: flex;
        margin-left: 0;
        flex-direction: column;
        max-width: 45vw;
    }
}


@media (min-width:1000px) {
    
    .header__intro-text__area {
        margin-left: 50%;
    }

    img.album__image {
        position: absolute;
        margin: 0px;
           height: 85%;
           left:10%;
           top:5%;
           
        }
    .text__row {
        padding: 3rem;
    }
    .text__row > p+p {
        margin-top: 3rem;
    }
 
    .header__intro-text__area {
        margin-left: 50%;
    }
    
    img.album__image {
    position: absolute;
    margin: 0ex;
       height: 50vh;
       right: 60%;
       top:10%;
  
    }
}

@media (min-width:1500px) {
.main {
    max-width: 1500px;
}
}