@import "../colors";

.logo-back {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: $background__color;
  opacity: 1;
}

.audiocheck {
  pointer-events: visible;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 1;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: calc(15px + 20 * ( 100vw / 1180 ));
  text-align: center;
  font-weight: bold;
}
.audiocheck__left {
  flex-basis: 50%;
  height: 100%;
  background-color: #5f0000;
  transition: all 0.3s ease;
 
}
.audiocheck__left:hover {
  background-color: #d62828;
  
 
}


.audiocheck__right {
  flex-basis: 50%;
  height: 100%;
  background-color:  #063a01;
  transition: all 0.3s ease;
}

.audiocheck__right:hover {
  background-color: #36b325;
}

.audiocheck__title {
  pointer-events: none;
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%,-50%);
}

.lds-ellipsis {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  z-index: 999;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}





.clear {
  animation: clear 1s ease-in forwards;
}
@keyframes clear {
  30% { 
      
      opacity: 1;
}
  100% {
     
      opacity: 0;
  }
}