* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

* > a:focus {
  outline: 1px solid rgb(255, 255, 255);
}

body {
  background: rgb(24, 24, 24);
  position: relative;
  margin: 0;
  padding-bottom: 1rem;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
}

.video__area {
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: relative;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.paused {
  filter: grayscale(0.9);
  transition: all 0.3s ease;
}

@-webkit-keyframes scale {
  10%, 90% {
    transform: scale(1);
  }

  20%, 80% {
    transform: scale(1.01);
  }

  30%, 50%, 70% {
    transform: scale(1);
  }

  40%, 60% {
    transform: scale(1.01);
  }
}

@keyframes scale {
  10%, 90% {
    transform: scale(1);
  }

  20%, 80% {
    transform: scale(1.01);
  }

  30%, 50%, 70% {
    transform: scale(1);
  }

  40%, 60% {
    transform: scale(1.01);
  }
}

body._lock {
  overflow: hidden;
}

button.down {
  background: url(./img/icon-scroll-down-white.svg) transparent;
  position: absolute;
  top: 90%;
  width: 49px;
  height: 17px;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.header {
  background: rgb(24, 24, 24);
  display: flex;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  font-weight: 700;
  flex-basis: auto;
  position: relative;
  margin: 0 auto;
}

.header__title {
  color: rgb(255, 255, 255);
  padding: 2em 3em;
  text-align: center;
  font-size: 1.2rem;
}

.header__burger {
  z-index: 5;
  display: block;
  width: 20px;
  height: 15px;
  position: absolute;
  cursor: pointer;
  top: 40px;
  left: 20px;
}

.header__burger:before,
.header__burger:after,
.header__burger span {
  background: rgb(255, 255, 255);
  left: 0;
  position: absolute;
  height: 15%;
  width: 100%;
  transition: all 0.3s ease-in;
}

.header__burger span {
  top: 50%;
  transform: translate(0px, -50%);
}

.header__burger:before,
.header__burger:after {
  content: " ";
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger._active span {
  transform: scale(0);
}

.header__burger._active:before {
  background: rgb(255, 255, 255);
  top: 50%;
  transform: rotate(-45deg);
}

.header__burger._active:after {
  background: rgb(255, 255, 255);
  bottom: 40%;
  transform: rotate(45deg);
}

.header__nav {
  background: rgb(24, 24, 24);
  padding-top: 100px;
  z-index: 4;
  font-size: 1em;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  transform: translate(0px, -100%);
}

.header__nav._active {
  background: rgba(0, 0, 0, 0.856);
  transform: translate(0px, 0px);
  height: 100%;
}

.header__nav-item a {
  padding: 2em;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.3s ease-in;
  color: rgb(255, 255, 255);
}

.header__nav-item a:hover,
.header__nav-item a:focus {
  background: rgb(255, 255, 255);
  color: rgb(24, 24, 24);
}

.header__intro {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
}

.header__intro-title {
  color: rgb(238, 238, 238);
  -webkit-backdrop-filter: brightness(0.4);
  backdrop-filter: brightness(0.4);
  font-size: calc(18px + 2.2033898305vw);
  position: absolute;
  top: 80%;
  left: 2%;
  white-space: nowrap;
}

.header__intro-text__area {
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.header__intro-text {
  padding: 0.3rem;
  margin: 1rem auto;
  line-height: 1.5;
  letter-spacing: 0.5;
  color: rgb(255, 255, 255);
  -webkit-backdrop-filter: brightness(0.4);
  backdrop-filter: brightness(0.4);
  font-weight: lighter;
  font-size: calc(12px + 0.4237288136vw);
}

@media (min-width: 500px) {
  button.down {
    left: 47%;
  }

  .header__intro {
    flex-direction: row;
    align-items: flex-start;
  }

  .header__intro-text__area {
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: calc(20% + 25.4237288136vw);
  }

  .header__intro-text {
    padding: 0.5rem;
    margin: 10vh 3rem 0rem;
  }
}

@media (min-width: 1000px) {
  .header {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
  }

  .header__burger {
    display: none;
  }

  .header__title {
    padding: 3rem 0;
    font-size: 2em;
    text-align: center;
  }

  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    transform: translate(0, 0);
    z-index: 0;
    position: static;
    background-color: rgb(24, 24, 24);
    min-height: 65px;
    font-size: 1em;
    padding: 0;
    width: 100%;
  }

  .header__row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .header__nav-item {
    flex: 1 0 auto;
  }

  .header__nav-item a {
    padding: 2.3em;
  }

  .header__nav-item a:hover,
  .header__nav-item a:focus {
    color: rgb(24, 24, 24);
    background-color: rgb(255, 255, 255);
  }

  .header__nav-item a::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(24, 24, 24);
    position: absolute;
    left: 0;
    top: 70px;
    transform: scaleX(0);
    transition: all 0.5s ease-out;
  }

  .header__intro-text {
    padding: 1rem;
    margin: 5vh 5rem 0rem;
  }
}

@media (min-width: 1200px) {
  .header__title {
    padding: 2em 3em 2.5em;
  }

  .header__nav {
    width: 100%;
    font-size: 0.9em;
  }

  .header__nav-item a::before {
    top: 100px;
  }
}

@media (min-width: 1500px) {
  .header {
    max-width: 1500px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1200px;
  padding-top: 3rem;
  margin: 1rem auto 2rem;
  overflow: hidden;
}

.footer__row {
  display: flex;
  flex-direction: column;
}

.footer__row > button.footer__button {
  background: url(./img/up.svg) transparent;
  position: absolute;
  bottom: 90%;
  left: 47%;
  width: 49px;
  height: 17px;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.footer__text {
  padding: 0.3rem;
  margin: 0.5rem 1rem;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 1.3;
  font-size: calc(8px + 0.5084745763vw);
}

.footer__text > a {
  text-decoration: underline;
}

.footer__text > a:hover {
  text-decoration: none;
}

.footer__end > .footer__text {
  font-size: calc(8px + 0.7627118644vw);
  margin: 1rem auto 0.5rem;
  text-align: center;
}

@media (min-width: 500px) {
  .footer {
    margin-top: 2rem;
  }

  .footer__text {
    text-align: start;
    margin: 0.5rem 0.5rem;
  }

  .footer__row {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__row-element {
    flex-basis: 30%;
  }
}

@media (min-width: 1500px) {
  .footer {
    max-width: 1500px;
  }
}

.logo-back {
  background: rgb(24, 24, 24);
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1;
}

.audiocheck {
  pointer-events: visible;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 1;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: calc(15px + 1.6949152542vw);
  text-align: center;
  font-weight: bold;
}

.audiocheck__left {
  background: black;
  flex-basis: 50%;
  height: 100%;
  transition: background-color 0.3s ease;
}

.audiocheck__left:hover,
.audiocheck__left:focus {
  background: #d62828;
}

.audiocheck__left:hover .audiocheck__promt,
.audiocheck__right:hover .audiocheck__promt {
  mix-blend-mode: normal;
}

.audiocheck__right {
  background: white;
  flex-basis: 50%;
  height: 100%;
  transition: background-color 0.3s ease;
}

.audiocheck__right:hover,
.audiocheck__right:focus {
  background: #36b325;
}

.audiocheck__right:hover ~ .audiocheck__title,
.audiocheck__right:focus ~ .audiocheck__title {
  mix-blend-mode: normal;
  color: white;
}

.audiocheck__left:hover ~ .audiocheck__title,
.audiocheck__left:focus ~ .audiocheck__title {
  mix-blend-mode: normal;
  color: black;
}

.audiocheck__left:hover .audiocheck__promt,
.audiocheck__left:focus .audiocheck__promt {
  color: black;
  mix-blend-mode: normal;
}

.audiocheck__right:hover .audiocheck__promt,
.audiocheck__right:focus .audiocheck__promt {
  color: rgb(255, 255, 255);
  mix-blend-mode: normal;
}

.audiocheck__title {
  pointer-events: none;
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

.audiocheck__promt {
  padding-top: 5rem;
  mix-blend-mode: difference;
}

.lds-ellipsis {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  z-index: 999;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
  animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.clear {
  -webkit-animation: clear 1s ease-in forwards;
  animation: clear 1s ease-in forwards;
}

@-webkit-keyframes clear {
  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes clear {
  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.header__nav-item:nth-child(1) a {
  background: rgb(255, 255, 255);
  color: rgb(24, 24, 24);
}

.flexbox {
  margin: 0rem auto;
  padding-bottom: 0rem;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  position: relative;
}

@media (min-width: 1500px) {
  .flexbox {
    max-width: 1500px;
  }
}

.flexitem {
  background: rgb(86, 58, 148);
  height: 50vh;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.linkarea {
  z-index: 2;
  width: 100%;
  height: 100%;
}

.flexitem > .content {
  color: rgb(255, 255, 255);
  pointer-events: none;
}

.flexitem__title {
  opacity: 0;
  color: rgb(255, 255, 255);
  -webkit-backdrop-filter: brightness(0.4);
  backdrop-filter: brightness(0.4);
  font-size: calc(15px + 1.6949152542vw);
  font-weight: bold;
  position: absolute;
  right: 10%;
  text-align: center;
  transition: opacity 0.5s ease-out;
}

.flexitem__title.hover {
  opacity: 1;
}

img.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.5;
  transition: all 1s;
  filter: blur(1px);
}

.header__intro-background {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

img.album__image {
  position: relative;
  margin: 10vh auto 0;
  height: 25vh;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 1;
  filter: brightness(0.9);
}

img.album__image2 {
  opacity: 0;
  transition: all 0.3s ease;
}

.content {
  text-align: center;
  font-size: 26px;
  opacity: 0;
  position: absolute;
  width: 50%;
  transition: opacity 0.5s ease-out;
  letter-spacing: 0.7;
  text-shadow: 1px 1px 3px black;
}

.flexitem:hover img.bg,
.flexitem:focus-within img.bg,
.flexitem:hover .content,
.flexitem:focus-within .content {
  opacity: 1;
  filter: blur(0px);
  -webkit-animation: scale 7s infinite;
  animation: scale 7s infinite;
}

.column1 > .flexitem1 {
  background: rgb(19, 108, 190);
}

.column1 > .flexitem2 {
  background: rgb(191, 1, 197);
}

.column2 > .flexitem1 {
  background: rgb(42, 17, 184);
}

.column2 > .flexitem2 {
  background: rgb(139, 137, 7);
}

.flexitem__title.hover {
  transform: translate(0, 0);
  opacity: 1;
}

@media (min-width: 500px) {
  .content {
    font-size: 18px;
  }

  img.album__image {
    position: relative;
    margin: 15vh 3rem 0;
    height: 50vw;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .flexitem__title {
    opacity: 0;
    color: rgb(255, 255, 255);
    -webkit-backdrop-filter: brightness(0.4);
    backdrop-filter: brightness(0.4);
    font-size: calc(15px + 1.6949152542vw);
    font-weight: bold;
    position: absolute;
    top: 90vh;
    right: 1%;
    transition: all 0.5s ease-out;
  }

  .flexbox {
    display: flex;
    flex-direction: row;
    height: 100vh;
    transition: all 0.4s ease;
  }

  .column {
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
  }

  .flexitem__title.hover {
    transform: translate(0, 0);
    opacity: 1;
  }

  .column1,
  .column3 {
    flex-basis: 35%;
  }

  .column2 {
    flex-basis: 30%;
  }

  .flexitem {
    transition: all 0.4s;
  }

  .column1 > .flexitem1 {
    flex-basis: 60%;
  }

  .column1 > .flexitem1:hover,
  .column1 > .flexitem1:focus-within {
    flex-basis: 84%;
  }

  .column1 > .flexitem2 {
    flex-basis: 40%;
  }

  .column1 > .flexitem2:hover,
  .column1 > .flexitem2:focus-within {
    flex-basis: 56%;
  }

  .column2 > .flexitem1 {
    flex-basis: 40%;
  }

  .column2 > .flexitem1:hover,
  .column2 > .flexitem1:focus-within {
    flex-basis: 60%;
  }

  .column2 > .flexitem2 {
    flex-basis: 60%;
  }

  .column2 > .flexitem2:hover,
  .column2 > .flexitem2:focus-within {
    flex-basis: 70%;
  }

  .column3 > .flexitem1 {
    flex-basis: 68%;
  }

  .column3 > .flexitem1:hover,
  .column3 > .flexitem1:focus-within {
    flex-basis: 75%;
  }

  .column3 > .flexitem2 {
    flex-basis: 32%;
  }

  .column3 > .flexitem2:hover,
  .column3 > .flexitem2:focus-within {
    flex-basis: 44.8%;
  }

  .column:hover,
  .column:focus-within {
    flex-basis: 40%;
  }
}

@media (min-width: 1000px) {
  img.album__image {
    position: absolute;
    margin: 0px;
    height: 85%;
    right: 10%;
    top: 5%;
  }

  img.album__image2:hover {
    opacity: 1;
  }

  .header__intro-text__area {
    margin-right: 50%;
  }
}